<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Wordlist : Extraction of Oren Tirosh&#39;s mnemonic wordlist">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/graph.css">
    <title>Wordlist</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/nerab/wordlist">View on GitHub</a>

          <h1 id="project_title">Wordlist</h1>
          <h2 id="project_tagline">Extraction of Oren Tirosh&#39;s <a href="http://web.archive.org/web/20091003023606/http://tothink.com/mnemonic">mnemonic wordlist</a></h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <p>
          This is an extraction of <%= @wordlist['author']['name']%>'s

          <% @wordlist['sources'].each do |src| %>
            <a href="<%= src.last %>"><%= src.first %></a>
          <% end %>

          into several machine-consumable formats. The <a href="src/wordlist.json">JSON source</a> was created by extracting and cleaning the original files.
        </p>

        <h2>All words</h2>
        <p>
          The lists are based on version <%= @wordlist['version'] %>.
        </p>

        <ul>
          <% DOWNLOADS.each do |download| %>
            <li><a href="<%= download %>"><%= download %></a> (<%= @stats[:counts][download] %> words)</li>
          <% end %>
        </ul>

        <h2>Distribution</h2>

        <h3>Word Length</h3>
        <% @stats[:word_lengths].each do |download, stats| %>
          <h4><%= download %></h4>
          <ul>
            <% stats.keys.sort.each do |length| %>
              <% count = stats[length] %>
              <li>
                <%= count %> <a href="<%= length %>-<%= download %>">words with <%= length %> characters</a></li>
            <% end %>
          </ul>
        <% end %>

        <h3>Initial</h3>
        <% @stats[:initial].each do |download, stats| %>
          <h4><%= download %></h4>
          <p>
            <% stats.keys.sort.each do |initial| %>
              <% count = stats[initial] %>
              <a href="<%= initial %>-<%= download %>"><%= initial %></a>: <%= count %> ,
            <% end %>
          </p>

          <% blanks = ('a'..'z').to_a - stats.keys %>
          <% if blanks.empty?  %>
            All initials are present in <%= download %>.
          <% else %>
            The initials <%= blanks.join(', ') %> are not present in <%= download %>.
          <% end %>
        <% end %>

      </section>

    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">
          Wordlist maintained by <a href="https://github.com/nerab">nerab</a>.
          Published with <a href="http://pages.github.com">GitHub Pages</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
