<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Wordlist : Extraction of Oren Tirosh&#39;s mnemonic wordlist">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <title>Wordlist</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/nerab/wordlist">View on GitHub</a>

          <h1 id="project_title">Wordlist</h1>
          <h2 id="project_tagline">Extraction of Oren Tirosh&#39;s <a href="http://web.archive.org/web/20091003023606/http://tothink.com/mnemonic">mnemonic wordlist</a></h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <p>
          This is an extraction of <%= @wordlist['author']['name']%>'s

          <% @wordlist['sources'].each do |src| %>
            <a href="<%= src.last %>"><%= src.first %></a>
          <% end %>

          into several machine-consumable formats. The <a href="src/wordlist.json">JSON source</a> was created by extracting and cleaning the original files.
        </p>

        <h2>Featured Downloads</h2>
        <ul>
        <% DOWNLOADS.each do |download| %>
          <li><a href="<%= download %>"><%= download %></a></li>
        <% end %>
        </ul>

        <h2>Statistics</h2>
        <p>The lists are based on version <%= @wordlist['version'] %>.
          There are <%= @stats[:counts] %>.
        </p>
      </section>

    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">
          Wordlist maintained by <a href="https://github.com/nerab">nerab</a>.
          Published with <a href="http://pages.github.com">GitHub Pages</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
